@page
@model Razor_Pages_Todo.Pages.IndexModel

@inject IUserTaskService userTaskService

<h2>Список задач</h2>
<hr />

<div>
    @foreach (UserTask task in userTaskService.GetTasks())
    {
        <div class="card mb-3">
            <div class="card-header">
                <span class="fw-medium">
                    @task.Title
                </span>
            </div>
            <div class="card-body">
                @if (task.Description != null)
                {
                    <span>@task.Description</span>
                }
                else
                {
                    <span>
                        <i>У задачи отсутствует описание.</i>
                    </span>
                }
            </div>
            <div class="card-footer">
                <a class="btn btn-danger">
                    <i class="bi bi-trash3"></i>
                    Удалить
                </a>
            </div>
        </div>
    }
</div>